{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %} 

  <article class="post">
    <div class="article-heading">
		<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2> - <h3>Posted on {{ article.locale_date }}</h3>
	</div>

      {{ article.content }}	
        
      <h3 class="blogMeta"> Tags :
         {% for tag in article.tags %}
           <span><a href="{{ SITEURL }}/tag/{{ tag }}.html">{{ tag }}</a> / </span>
         {% endfor %}
      </h3>
      
  </article>
{% endblock %}	
