* { margin: 0; padding: 0; }

/* *** General Styles *** */

body {
    width: 85%;
    text-align: left;
    font-family: "Times New Roman"; 
    margin-left: auto;
    margin-right: auto;
    color: #333333;
}

blockquote {
    font-size: 14px;
    font-style: italic;
    padding: 5px 0 5px 30px;
}


img {
    max-width: 50%;
    border: 1px solid #333333;
    height: auto;
    display: block;
}

img.summary {
    max-width: 15%;
    display: block;
    float: left;
    margin-right: 1em;
    margin-top: 0;
}

@media (max-width: 1280px) {
    .img {
        max-width: 100%;
    }
	
	img.summary {
        max-width: 30%;
    }
}

ul,
ol {
    margin-left: 20px;
    line-height: 1.6em;
}

ul.no-points {
    list-style: none;
}

/* *** Layout *** */

header {
    display: inline;
    margin-bottom: 0.2em;
} 

header h3 {
	display: inline
}

header h1 {
    font-size: 4em;
    font-weight: bold;
}

footer { 
    font-size: 12px;
    height: 70px;
    padding: 0 10px 0 20px;
} 

/* *** Top Menu Styles *** */
/* *** Blog Styles *** */

article {
    padding: 20px 0 20px 0;
}

article.post {
    padding-top: 0px;
}

article.post img {
    margin-top: 10px;
    margin-bottom: 0px;
}

article.summary {
    margin-top: 15px;
}

article.summary:after { 
    content: ""; 
    display: table; 
    clear: both; 
}

#article-summary img {
    display: none;
}

.caption {
    font-size: 10px;
    margin: 0;
    text-align: center;
}

.tag-cloud ul {
    list-style-type: none;
}

.tag-cloud ul li {
    display: inline;
    margin-right: 5px;
}

.tag {
    /* Some standard .tag settings: starting point */
    float:right;
    text-decoration:none;
    padding: 2px 4px;

    /* Rotation transformation */
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);

    /* Transition between this and :hover state */
    -webkit-transition: -webkit-transform 0.1s ease-in;
    -moz-transition: -moz-transform 0.1s ease-in;
    -o-transition: -o-transform 0.1s ease-in;
    transition: transform 0.1s ease-in; 
}

.tag:hover {
    color:#fff;
    z-index:10000;

    -webkit-transform: rotate(3deg) scale(1.2);
    -moz-transform: rotate(3deg) scale(1.2);
    -o-transform: rotate(3deg) scale(1.2);
    transform: rotate(3deg) scale(1.2);
}


.tag:nth-child(2n) {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.tag:nth-child(4n) {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.tag:nth-child(5n) {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.tag:nth-child(2n):hover {
    -webkit-transform: rotate(-3deg) scale(1.2);
    -moz-transform: rotate(-3deg) scale(1.2);
    -o-transform: rotate(-3deg) scale(1.2);
    transform: rotate(-3deg) scale(1.2);
}

.tag:nth-child(4n):hover {
    -webkit-transform: rotate(3deg) scale(1.2);
    -moz-transform: rotate(3deg) scale(1.2);
    -o-transform: rotate(3deg) scale(1.2);
    transform: rotate(3deg) scale(1.2);
}

.tag:nth-child(5n):hover {
    -webkit-transform: rotate(2deg) scale(1.2);
    -moz-transform: rotate(2deg) scale(1.2);
    -o-transform: rotate(2deg) scale(1.2);
    transform: rotate(2deg) scale(1.2);
}


/* *** Footer Styles *** */

footer p {
    padding: 30px 0 0 0;
    text-align: center;
}

.floatR {
    float: right;
    margin-left: 8px;
}

.floatL { 
    float: left;
    margin-right: 8px;
}

.clearfloat {
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
