* { margin: 0; padding: 0; }

/* *** General Styles *** */

body {
    width: 85%;
    text-align: left;
    font-family: "Helvetica";
    margin-left: auto;
    margin-right: auto;
    color: #333333;
}

blockquote {
    font-size: 14px;
    font-style: italic;
    padding: 5px 0 5px 30px;
}


img {
    max-width: 80%;
    border: 1px solid #333333;
    height: auto;
    display: block;
}

img.summary {
    max-width: 15%;
    display: block;
    float: left;
    margin-right: 1em;
    margin-top: 0;
}

@media (max-width: 1280px) {
	img.summary {
        max-width: 30%;
    }
}

ul,
ol {
    margin-left: 4em;
    line-height: 1.6em;
}

ul.no-points {
    list-style: none;
}

/* *** Layout *** */

header {
    margin-bottom: 1em;
} 

header h3 {
	display: inline
}

header h1 {
    font-size: 3em;
}

/* *** Top Menu Styles *** */
/* *** Blog Styles *** */

article.summary {
    margin: 1.5em 0 1.5em 0;
}

article.post {
    padding-top: 0px;
}

article.post .article-heading h2,
article.post .article-heading h3 {
	display: inline;
}

article.post img {
    margin-top: 1em;
}

article.post .article-heading {
	margin-bottom: 0.35em;
}

article.summary:after { 
    content: ""; 
    display: table; 
    clear: both; 
}

.article-summary img {
    display: none;
}

.blogMeta {
	margin-top: 1.5em;
}

.caption {
    font-size: 10px;
    margin: 0;
    text-align: center;
}

.tag-cloud {
	margin-top: 1.5em;
}

.tag-cloud ul {
    list-style-type: none;
}

.tag-cloud ul li {
    display: inline;
    margin-right: 0.5em;
}

#pagination {
	margin: 1.5em 0 0 0;
}


/* *** Footer Styles *** */

footer { 
    margin: 3em 0 1em 0;
    font-size: 0.8em;
} 

footer p {
    text-align: center;
}

.floatR {
    float: right;
}

.floatL { 
    float: left;
}

.clearfloat {
    clear:both;
    height:0;
    line-height: 0px;
}
